body{
	margin:0px;
	padding: 0px;
}
.menu{
	background: antiquewhite;
}
.quanlysinhvien{
	width: 400px;
	border:1px solid black;
	margin:0px auto;
	margin-top: 35px;
}
.quanlysinhvien h3{
	background:#009688;
	padding:5px;
	color: #fff;
	text-align: center;
}
.quanlysinhvien form table tr td {
	padding: 3px 5px;
}
.quanlysinhvien form{
	background:#e7d7bd;
}
.quanlysinhvien form table tr td input {
	padding: 3px 5px;
}
.quanlysinhvien a{
	float: left;
	color: black;
	text-decoration: none;
	background: yellow;
	border-radius: 3px;
}
.danhsach{
	width: 1000px;
	margin: auto;
	margin-top: 50px;
}
.danhsach table{
	width: 1000px;
	border: 1px solid #999999;
}
.danhsach h3{
	background: #009688;
	color: #fff;
	text-align: center;
	padding-top: 5px;
}
.timkiem{
	width: 800px;
	margin-left: 298px;
	margin-top: 50px;
}