body{
	margin: 0px;
	padding: 0px;
	background-image: url(../img/troisao.jpg);
	background-repeat: no-repeat;
}
.container{
	width: 550px;
    border: 1px solid white;
    border-radius: 10px;
    background: #defdff;
    margin-top: 50px;
    opacity: 0.8;
}
.container:hover{
	opacity: 1.5;
	transition: 1s;
}
.main{
	width: 400px;
    margin: 15%;
}
span {
	float: left;
	padding-bottom: 20px;
	color: black;
}
label{
	color: black;
}
p {
	color: black;
	padding-top: 25px;
}
a{
	color: #007bff;
}
a:hover{
	color:  black;
	text-decoration: none;
}